.btn
  display: inline-block
  padding: 18px 50px
  border-radius: 2px
  background-color: $cinnabar
  color: $white
  text-decoration: none
  font(13px, 21px, 600, uppercase)
  transition: background-color 0.4s linear

  &:hover
    background-color: darken($cinnabar, 35%)
    transition: background-color 0.4s linear
