.contacts
  flex-basis: 33.3%
  min-height: 250px
  text-align: center

  &__title
    margin-top: 75px
    margin-bottom: 25px
    color: $white
    font(14px, 10px, 700, uppercase)

  &__address
    color: rgba($white, 0.5)
