.menu
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-bottom: 156px

  min-height: 100px

  &__list
    list-style-type: none

  &__item
    display: inline-block
    margin-right: 60px

    &:last-of-type
      margin-right: 0

  &__link
    color: $white
    text-decoration: none
    font(13px, 11px, 600, uppercase)
    opacity: 0.75
