.menu
  position: relative
  z-index: 5

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin-bottom: 120px

  min-height: 100px

  &__list
    max-width: 600px
    list-style-type: none
    text-align: right

  &__item
    display: inline-block
    margin-right: 60px
    margin-bottom: 10px

    &:nth-of-type(5n)
      margin-right: 0

  &__link
    position: relative
    color: $white
    text-decoration: none
    font(13px, 11px, 600, uppercase)
    opacity: 0.75

    &::after
      position: absolute
      bottom: -10px
      left: 0
      width: 100%
      height: 2px
      background-color: $white
      content: ""
      opacity: 0
      transition: opacity 0.4s linear

    &:hover
      opacity: 1

      &::after
        opacity: 1
        transition: opacity 0.4s linear
