@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Raleway";
  src: url("../fonts/ralewayregular.woff") format("woff"), url("../fonts/ralewayregular.woff2") format("woff2");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Raleway";
  src: url("../fonts/ralewaysemibold.woff") format("woff"), url("../fonts/ralewaysemibold.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Raleway";
  src: url("../fonts/ralewaybold.woff") format("woff"), url("../fonts/ralewaybold.woff2") format("woff2");
}
body {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
.btn {
  padding: 18px 50px;
  border-radius: 2px;
  background-color: #e84545;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}
.features__title {
  color: #2d3033;
  font-size: 14px;
}
.features__text {
  color: #6c7279;
  font-size: 14px;
  line-height: 21px;
}
.page-header__title {
  font-size: 65px;
  font-weight: 700;
  line-height: 71px;
  text-transform: uppercase;
}
.page-header__text {
  font-size: 22px;
  line-height: 33px;
}
