doctype html

html(lang = "en")
  include parts/head.pug

  body
    include parts/svg-sprite.pug

    header.page-header
      h1.visually-hidden ACTIVEBOX

      nav.menu
        .menu__logo: a.menu__link
          img.menu__img(src = "http://placehold.it/189x24", width = 189, height = 24, alt = "ACTIVEBOX")

        ul.menu__list
          li.menu__item: a.menu__link Features
          li.menu__item: a.menu__link Works
          li.menu__item: a.menu__link Our team
          li.menu__item: a.menu__link Testimonials
          li.menu__item: a.menu__link Download

      h2.page-header__title
        | Your Favorite One Page Multi Purpose Template

      p.page-header__note
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Praesent commodo cursus magna vel scelerisque nisl consectetur et.

      a.btn.page-header__btn(href = "#") Find out more

    main
      section.features
        h2.visually-hidden Features

        ul.features__list
          li.features__item
            h3.features__title Easily Customised
            p.features__desc
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              | Nullam quis risus eget urna mollis ornare vel eu leo.
              | Donec ullamcorper nulla non metus auctor fringilla.

          li.features__item
            h3.features__title Responsive Ready
            p.features__desc
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              | Nullam quis risus eget urna mollis ornare vel eu leo.
              | Donec ullamcorper nulla non metus auctor fringilla.

          li.features__item
            h3.features__title Modern Design
            p.features__desc
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              | Nullam quis risus eget urna mollis ornare vel eu leo.
              | Donec ullamcorper nulla non metus auctor fringilla.

          li.features__item
            h3.features__title Clean Code
            p.features__desc
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              | Nullam quis risus eget urna mollis ornare vel eu leo.
              | Donec ullamcorper nulla non metus auctor fringilla.

          li.features__item
            h3.features__title Ready to Ship
            p.features__desc
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              | Nullam quis risus eget urna mollis ornare vel eu leo.
              | Donec ullamcorper nulla non metus auctor fringilla.

          li.features__item
            h3.features__title Download for Free
            p.features__desc
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              | Nullam quis risus eget urna mollis ornare vel eu leo.
              | Donec ullamcorper nulla non metus auctor fringilla.

      section.projects
        h2.visually-hidden Projects

        ul.projects__list
          li.projects__item
            h3.project__title Project name #1
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #2
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #3
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #4
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #5
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #6
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #7
            p.project__desc Project interface design

          li.projects__item
            h3.project__title Project name #8
            p.project__desc Project interface design

    footer.page-footer
      section.contacts
        h2.visually-hidden Contacts

        h3.contacts__title Location
        p.contacts__address 3481 Melrose Place Beverly Hills, CA 90210

      section.social
        h2.visually-hidden Social

        h3.social__title Share with love
        ul.social__list
          li.social__item: a.social__link(href = "#") Facebook
          li.social__item: a.social__link(href = "#") Twitter
          li.social__item: a.social__link(href = "#") LinkedIn

      section.about
        h2.visually-hidden About

        h3.about__title About ACTIVEBOX
        p.about__desc
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          | Donec ullamcorper nulla non metus auctor fringilla.

      section.copyright
        h2.visually-hidden Copyright

        p.copyright__text
          | Copyright © 2015 ActiveBox. All Rights Reserved
        p.copyright__author
          | Made with #{" "}
          span.copyright__heart love #{" "}
          | by Kamal Chaneman
